<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <!-- Required for Meta Quest passthrough (XR_FB_passthrough) -->
    <uses-feature android:name="com.oculus.feature.PASSTHROUGH" android:required="true"/>

    <application>
        <meta-data
            android:name="com.oculus.supportedDevices"
            android:value="quest|quest2|cambria|eureka|quest3s"/>

        <!--
            Force-enable UnityPlayerGameActivity so Android can launch the app.
            Unity 6 generates this activity with enabled=false in the library
            manifest; overriding it here at plugin level fixes the launch.
        -->
        <activity
            android:name="com.unity3d.player.UnityPlayerGameActivity"
            android:enabled="true"
            tools:replace="android:enabled"/>
    </application>

</manifest>
