<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <!-- Required for Meta Quest passthrough (XR_FB_passthrough) -->
    <uses-feature android:name="com.oculus.feature.PASSTHROUGH" android:required="true"/>

    <application>
        <!--
            Unity 6 uses UnityPlayerGameActivity (androidApplicationEntry = 1).
            Merge the VR intent filter and focus-aware meta-data that
            MetaQuestFeature / xrmanifest.androidlib would otherwise inject
            into a nameless <activity> element, causing Gradle merge failure.
        -->
        <activity
            android:name="com.unity3d.player.UnityPlayerGameActivity"
            android:exported="true"
            tools:node="merge">
            <intent-filter>
                <category android:name="com.oculus.intent.category.VR"/>
            </intent-filter>
            <meta-data android:name="com.oculus.vr.focusaware" android:value="true"/>
        </activity>

        <!-- Remove the old UnityPlayerActivity declared by xrmanifest.androidlib -->
        <activity
            android:name="com.unity3d.player.UnityPlayerActivity"
            tools:node="remove"/>

        <meta-data
            android:name="com.oculus.supportedDevices"
            android:value="quest|quest2|cambria|eureka|quest3s"/>
    </application>

</manifest>
